.floater {
  position: absolute;
  top: 2%;
  right: 2%;
}

:root {
  --background-color: #212529;
  --background-color-alt: #383838;
  --background-color-alt2: #2e2e2e;
  --text-color: #FFFFFF;
  --table-border-color: #dee2e6;
  --table-border-color2:#585a5c;
  --text-color-alt: #8e8e8e;
  --text-color-alt2: #4e4e4e;
  --false-color: #ff6666 ;
  --true-color:  #66b266 ;
}

@font-face {
  font-family: 'october_crowregular';
  src: url('./october_crow-webfont.woff2') format('woff2'),
  url('./october_crow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
} */

/* 
#ghostTable td {
  border-bottom: 0.5px solid var(--table-border-color2);
} */

/* th {
  padding: 5px 0 5px 0;
  font-family: 'october_crowregular', san serif;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}

table {
  vertical-align: top;
  margin: 0 10px 20px 10px;
} */

.spookyFont {
  font-family: 'october_crowregular', san serif;
  font-size: 2em;
}


/* .nb {border-bottom: none!important;} */

/* #info {
  display: inline;
} */
/* 
td:nth-of-type(1) {text-transform: uppercase;} */

/* #ghostTable td {width: 150px;}
#ghostTable td:nth-of-type(2),
#ghostTable td:nth-of-type(3),
#ghostTable td:nth-of-type(4) {text-align: center;}

#objectiveBoard td:nth-of-type(2),
#objectiveBoard td:nth-of-type(3),
#objectiveBoard td:nth-of-type(4){ text-align: center; } */

/* .included,
#selectionTable td:nth-of-type(2),
#selectionTable th:nth-of-type(2),
#objectiveBoard td:nth-of-type(2),
#objectiveBoard th:nth-of-type(2)  {background-color: var(--true-color);}

.notPossible,
#selectionTable td:nth-of-type(3),
#selectionTable th:nth-of-type(3),
#objectiveBoard th:nth-of-type(3),
#objectiveBoard td:nth-of-type(3) {
  background-color: var(--false-color);
}

.excluded {
  text-decoration: line-through;
  color: var(--text-color-alt);
} */
/* 
.excludedObjective, .defaultObj {
  font-style: italic;
  color: var(--text-color-alt2);
}

.completedObjective {
  font-style: normal;
  color: var(--text-color);;
  text-decoration: line-through;
} */
/* 
.textbox {
  color: var(--text-color);;
  background-color: var(--background-color-alt2);
  border: 1px solid var(--table-border-color2);;
  width: 70%;
} */

.timerButton {
  width: 100%;
  color: var(--text-color);;
  background-color:var(--background-color-alt2);
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  transition: ease 1s;
  border-radius: 5px;
}

.timerEnd {
  color: red;
  font-weight: bold;
}

.timerOutput {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--true-color);
  font-size: 1.5em;
}

.resetbox {
  background-color:var(--background-color)!important;
}
.reset {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  float: right;
  color: var(--text-color);;
  background-color:var(--background-color-alt2);
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  transition: ease 1s;
  border-radius: 5px;
}

.reset:hover, .timerButton:hover {
  background-color: var(--background-color-alt);
  transition: ease 1s;
}
/* .title {
  font-family: 'october_crowregular', san serif;
  font-size: 3em;

}
.subtitle {
  font-size: 1.5em;
  padding-left: 20px;
} */
/* .content {
  margin: 5px 20px 0 20px;
} */